
<!doctype html>
<html lang="en">
<head>


	<title>Skillsda Cybersecurity Lab</title>

	<link rel="stylesheet" type="text/css" href="../static/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="../static/project.css">
		<link rel="stylesheet" type="text/css" href="../static/cover.css">


	<link href="cover.css" rel="stylesheet">
</head>


<body class="text-center">
	<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
		<header class="masthead mb-auto">
			<div class="inner">
				<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top" style="background: linear-gradient(to right, #ffffff, #000c40);">
					<div class="container">
						<a class="navbar-brand" href="#">
							<img src="images/skillsda.png" style="height:10%;width:20%;" alt="">
						</a>
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>
						<div class="collapse navbar-collapse" id="navbarResponsive">
							<ul class="navbar-nav ml-auto">
								<li class="nav-item active">
									<a class="nav-link" href="#">Home
										<span class="sr-only">(current)</span>
									</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="#">About</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="#">Contact</a>
								</li>
							</ul>
						</div>
					</div>
				</nav>
			</div>

		</header>



		<main role="main" class="inner cover">
			<h1 class="cover-heading">Conference Management System</h1>
			<p class="lead">Dhani&co is a conference management system that is flexible, easy to use, and has many features to make it suitable for various conference models. It is currently probably the most commonly used conference management system. </p>
			<p class="lead">
				<a href="q2.html" class="btn btn-lg btn-secondary">Click Here to Collaborate</a>
			</p>
		</main>

		<footer class="mastfoot mt-auto">

		</footer>
	</div>
</body>
</html>
