{% extends 'header.html' %}{% block body %}
<!-- <html lang="en">

<head>
	<title>Skillsda Cybersecurity Lab</title>
	<link rel="stylesheet" type="text/css" href="../static/bootstrap.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
	<link rel="stylesheet" type="text/css" href="../static/project.css">
	<link rel="stylesheet" type="text/css" href="../static/dashboard.css">
	<link rel="stylesheet" type="text/css" href="../static/sidenav.css">
	<link rel="stylesheet" type="text/css" href="../static/button.css">
	<link href="https://fonts.googleapis.com/css?family=Bellota|Sen&display=swap" rel="stylesheet">
</head>


<body> -->
	

	<div id="mySidenav" class="sidenav">
		<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
		<a href="/challenge/Penetration Testing">Pen Testing</a>
		<a href="/challenge/Digital Forensics">Digital Forensics</a>
		<a href="/challenge/Network and Web Security">Network and Web Security</a>
		<a href="/challenge/Browser Forensics">Browser Forensics</a>
		<a href="/challenge/Systems Security">Systems Security</a>
		<a href="/challenge/Password Hacking">Password Hacking</a>
		<a href="/challenge/Viruses and Trojans">Viruses and Trojans</a>
		<a href="/challenge/Python for beginners">Python for beginners</a>
		<a href="/challenge/Web Exploitation">Web Exploitation</a>
		<a href="/challenge/Deliberately vulnerable">Deliberately vulnerable</a>
	</div>

	<!-- Use any element to open the sidenav -->

<div id="main">
		

<div class="jumbotron" style="width:75%; margin:auto;margin-top: 50px; background: linear-gradient(to right, rgb(255, 255, 255,0.95), rgb(0, 12, 64,0.95))">
    <div style="text-align: center;display: flex;"><em style="font-size: 2.6em;" class="fas fa-shield-alt"></em><span><h1>CyberSecurity Lab Dashboard</h1></span>
        </div>
	<div style="margin-bottom: 20px;">
		<button onClick="openNav()" class="btn btn-lg btn-success btn-effect btn-effect5 btn-effect5b"><span class="icon glyphicon"><i class="fas fa-clipboard-list"></i></span><span class="text">Categories</span></button>
	</div>

	<div class="row">
		<div class="column">
			<div class="card" style="background: linear-gradient(to right, #8a2387, #e94057, #f27121); color:white;border-radius: 25px;">
				<h4>Total Labs</h4>
				<p>100</p>
			</div>
		</div>

		<div class="column">
			<div class="card" style="background: linear-gradient(to right, #00b4db, #0083b0); color:white;border-radius: 25px;">
				<h4>Ongoing Labs</h4>
				<p>20</p>
			</div>
		</div>

		<div class="column">
			<div class="card" style="background: linear-gradient(to right, #11998e, #38ef7d); color:white;border-radius: 25px;">
				<h4>Completed Labs</h4>
				<p>30</p>
			</div>
		</div>

		<div class="column">
			<div class="card" style="background: linear-gradient(to right, #0f0c29, #302b63, #24243e); color:white;border-radius: 25px;">
				<h4>Badges Earned</h4>
				<p>5</p>
			</div>
		</div>
	</div>
</div>
</div>
{% endblock %}