<!DOCTYPE html>
<html lang="en">

<head>
	<title>Skillsda Cybersecurity Lab</title>
	<link rel="stylesheet" type="text/css" href="../static/bootstrap.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
	<link rel="stylesheet" type="text/css" href="../static/project.css">
	<link rel="stylesheet" type="text/css" href="../static/register.css">
	<link href="https://fonts.googleapis.com/css?family=Bellota|Sen&display=swap" rel="stylesheet">
</head>

<body>
	<script src="register.js"></script>

	<nav class="navbar static-top navbar-expand-lg navbar-dark" style="background: linear-gradient(to right, rgb(255, 255, 255,0.75), rgb(0, 12, 64,0.75)) !important;">
		<div class="container">

			<!-- Brand -->
			<a class="navbar-brand" href="login.html">
				<img src="images/skillsda logo.png" style="height:10%;width:20%;" alt="">
			</a>

			<!-- Collapse -->
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<!-- Links -->
		<div class="collapse navbar-collapse" id="navbarSupportedContent">

			<!-- Left -->
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="login.html">Home
						<span class="sr-only">(current)</span>
					</a>
				</li>
				<li class="nav-item" >
					<a class="nav-link" href="https://skillsda.com" target="_blank">About</a>
				</li>
			</ul>

			<!-- Right -->
			<ul class="navbar-nav nav-flex-icons" style="margin-right: 0px !important;padding-right: 0px !important;">
				<li class="nav-item" style="padding-left: 5px;padding-right: 5px;">
					<a href="https://www.facebook.com/skillsda.chennai" class="nav-link" target="_blank">
						<i class="fab fa-facebook-f"></i>
					</a>
				</li>
				<li class="nav-item" style="padding-left: 5px;padding-right: 5px;">
					<a href="https://twitter.com/skillsda" class="nav-link" target="_blank">
						<i class="fab fa-twitter"></i>
					</a>
				</li>
				<li class="nav-item" style="padding-left: 5px;padding-right: 5px;">
					<a href="https://www.instagram.com/skillsda" class="nav-link" target="_blank">
						<i class="fab fa-instagram"></i>
					</a>
				</li>
				<li class="nav-item" style="padding-left: 5px;padding-right: 5px;">
					<a href="register.html" class="nav-link border border-light rounded"
					target="_blank">
					Signup
				</a>
			</li>
		</ul>

	</div>

</div>
</nav>

<div class="login-wrap1">
	<div class="login-html">
		<input id="tab-1" type="radio" name="tab" class="sign-in"  checked><label for="tab-1" class="tab" style="margin-bottom:30px;">Reset your Password</label>
		<input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab"></label>
		<div class="login-form">
			<div class="sign-in-htm">
				<form action='dashboard.html' method='POST'>
				<div class="group">
					<label for="user" class="label">Enter Email ID</label>
					<input id="user" type="text" class="input"  required>
				</div>
				
				<div class="group">
					<input type="submit" class="button" value="Reset">
				</div>
			</form>
				<div class="hr"></div>
				<div class="foot-lnk">
					<a href="login.html">Go Back</a>
				</div>
				<div class="foot-lnk">
					<p style="color:#aaa;margin-top: 5px;margin-bottom: 30px;">Don't have an account? &nbsp <a href="register.html"> Sign up</a></p>
				</div>
			</div>

		</div>
	</div>
	

				</body>
				</html>