{% extends 'header.html' %}{% block body %}
<div class="login-wrap1" style="min-height:320px;">
	<div class="login-html">
		<input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Forgot Password</label>
        <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab"></label>
		<div class="login-form">
			<div class="sign-in-htm">
				<form action='/sendmail' method='POST'>
					<div class="group">
						<label for="user" class="label">Email</label>
						<input id="user" name="mailid" type="text" class="input" required>
					</div>
					
					<div class="group">
						<input type="submit" class="button" value="Send Mail">
					</div>
					<div class="hr"></div>
					<div class="foot-lnk">
						<a href="/login" >Back</a>
					</div>
				</form>
			</div>

		</div>
	</div>
{% endblock %}